@media (max-width: 1200px){
    html{
        font-size: 12px;
    }

    .container{
        width: 768px;
    }

    .main_header{        

        &-navigator{            

            &-logolink svg{
                transform: translateX(-20px) scale(0.7);
            }
            
            &-service_list-item a svg{
                transform: scale(0.7);
            }
        }
    }  
    
    .content{

        &-video_presentation{
            height: 555px;
        }

        &-mobile_devices{
            &-wrapper{
                background-size: 42%;
            }
        }
    }

    .footer-content-about_us{
        padding-top: 56px;

        &-logo{
            left: -25px;
            top: -5px;
            transform: scale(0.7);
        }
    }
}

@media (max-width: 768px){
    html{
        font-size: 10px;
    }

    .container{
        width: 568px;
    }

    .main_header{

        &-navigator{

            .hamburger_button_label{
                display: block;
                transition: right 0.2s ease-in-out 0.3s;
            }

            &-wrapper{
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: -15px;
                right: -500px;
                background-color: #998575;
                z-index: 1;
                padding: 60px 10px 10px;
                width: 350px;
                transition: right 0.5s ease-in-out;
            }

            .hamburger_button_checkbox:checked ~ &-wrapper{
                right: -300px;
            }

            &-link_list{
                flex-direction: column;
                margin-right: 0;
                margin-bottom: 10px;

                &-item{
                    padding: 6px 0;
                    width: 350px;
                    border-bottom: 1px solid #fff;

                    &:not(:last-of-type){
                        margin-right: 0;
                    }

                    a{
                        font-size: 1.25rem;
                        line-height: 1.45rem;
                    }
                }
            }

            &-service_list{

                &-item{

                    &:not(:last-of-type){
                        margin-right: 10px;
                    }
                }
            }
        }

        &-slider-button svg {
            transform: scale(0.7);
        }
    }

    .content{

        &-latest_projects-card{
            
            &-title{
                font-size: 1.15rem;
                line-height: 1.35rem;
            }
        }

        &-recent_posts-card{

            &-calendar{

                &-date{
                    font-size: 1.5rem;
                    line-height: 2.125rem;
                }
            }

            &-title{
                font-size: 1.1rem;
                line-height: 1.35rem;
            }
        }
    }

    .footer-content{

        &-about_us{
            padding-top: 35px;

            &-logo{
                left: -45px;
                top: -12px;
                transform: scale(0.5);
            }
        }
    }
}

@media (max-width: 568px){   
    html{
        font-size: 8px;
    }
    
    .container{
        width: 320px;
    }

    .main_header{

        &-slider{

            &-pretitle{
                font-size: 1.5rem;
                line-height: 1.75rem;
            }

            &-title{
                font-size: 2rem;
                line-height: 2.25rem;
            }
        }

    }

    .content{

        &-partition_switcher{

            &-card{
                width: 47%;
                margin-bottom: 7%;

                &:nth-last-child(-n + 2){
                    margin-bottom: 0;
                }
            }
        }

        &-realization{

            .content-text{
                width: 300px;
            }
        }

        &-purchase_now{

            &-title{
                font-size: 1.25rem;
                line-height: 1.45rem;
            }

            &-text{
                font-size: 1rem;
                line-height: 1.25rem;
            }

            // .content-button_link{
            //     font-size: 0.5rem;
            // }
        }

        &-latest_projects{

            &-wrapper{
                padding-bottom: 6%;
            }

            .content-text{
                width: 300px;
            }

            &-card{
                width: 47%;
            }
        }

        &-video_presentation{
            height: 320px;
        }

        &-mobile_devices{

            &-inner{
                width: 68%;
            }
        }

        &-counters{

            &-wrapper{
                padding: 5% 1%;
            }

            &-card{
                width: 19%;

                hr{
                    width: 45%;
                }
            }
        }

        &-recent_posts{     
            
            .content-text{
                width: 300px;
            }

            &-card{
                width: 80%;
                margin: 0 auto 5%;
            }
        }
    }

    .footer-content{
        display: none;
    }
}

@media (max-width: 320px){
    .container{
        width: 310px;
    }

    .main_header{
        height: fit-content;
        padding: 2%;
        margin-bottom: 0;
        overflow: visible;
        

        &-navigator{
            margin-bottom: 0;

            &-wrapper{
                width: 130px;
                visibility: hidden;
                right: -3px;
            }

            
            &-link_list-item{
                width: 110px;               
            }

            .hamburger_button_label{
                right: 10px;
            }

            .hamburger_button_checkbox:checked ~ &-wrapper{
                right: -3px;
                visibility: visible;                
            }

            .hamburger_button_checkbox:checked ~ .hamburger_button_label{
                right: 10px;
            }
        }

        &-slider{
            display: none;
        }
    }

    .content{

        &-purchase_now{
            display: none;
        }

        &-mobile_devices{

            &-wrapper{
                background-size: 32%;
                background-position-x: 15px;;
            }

            &-inner{
                width: 98%;
            }

            &-properties_list-item{
                padding-left: 125px;
            }
        }
    }

    .footer-copyright{

        &-copyright_text{
            font-size: 1rem;
        }

        &-link_list-item-link{
            font-size: 1rem;
        }
    }
}