.container {
  width: 1200px;
  margin: 0 auto;
}

.main_header {
  background-image: url(../image/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 2%;
}

.main_header-navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header-navigator-logolink svg {
  fill: #fff;
}

.main_header-navigator-logolink:hover svg {
  fill: #C7B299;
}

.main_header-navigator-link_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 3.125rem;
}

.main_header-navigator-link_list-item:not(:last-of-type) {
  margin-right: 1.5rem;
}

.main_header-navigator-link_list-item a {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.05rem;
  color: #fff;
  text-decoration: none;
}

.main_header-navigator-link_list-item:hover a {
  color: #C7B299;
}

.main_header-navigator-service_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_header-navigator-service_list-item:not(:last-of-type) {
  margin-right: 2rem;
}

.main_header-navigator-service_list-item a svg {
  fill: #fff;
}

.main_header-navigator-service_list-item:hover a svg {
  fill: #C7B299;
}

.main_header-slider {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  text-align: center;
}

.main_header-slider-pretitle {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.main_header-slider-title {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 3.875rem;
  margin-bottom: 0.5rem;
}

.main_header-slider-text {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  max-width: 35rem;
  margin: 0 auto 2.5rem;
}

.main_header-slider-link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #998575;
  border-radius: 0.1875rem;
  padding: 1.25rem 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
}

.main_header-slider-link:hover {
  background-color: #C7B299;
}

.main_header-slider-link:active {
  -webkit-animation: pushing_link 0.1s linear;
          animation: pushing_link 0.1s linear;
}

.main_header-slider-button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  padding-top: 35px;
}

.main_header-slider-button svg {
  fill: #fff;
}

.main_header-slider-button:active {
  opacity: 0.5;
  -webkit-animation: pushing_button 0.1s linear;
          animation: pushing_button 0.1s linear;
}

.main_header-slider-switcher {
  position: absolute;
  top: 92vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.main_header-slider-switcher-button {
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  outline-style: none;
}

.main_header-slider-switcher-button:not(:last-of-type) {
  margin-right: 10px;
}

.main_header-slider-switcher-button:hover {
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: transparent;
}

.content-title {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  text-align: center;
  color: #555555;
  margin-bottom: 1.25rem;
}

.content-text {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: #8C8C8C;
}

.content-button_link {
  display: block;
  color: #fff;
  background-color: #998575;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 1.25rem 2.5rem;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content-button_link:hover {
  background-color: #C7B299;
}

.content-button_link:active {
  -webkit-animation: pushing_link 0.1s linear;
          animation: pushing_link 0.1s linear;
}

.content-partition_switcher-wrapper {
  padding: 6.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-partition_switcher-card {
  color: #555555;
  text-align: center;
  width: 23%;
}

.content-partition_switcher-card svg {
  fill: #555555;
  height: 47px;
  margin-bottom: 2rem;
}

.content-partition_switcher-card-title {
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.625rem;
  margin-bottom: 1.25rem;
}

.content-partition_switcher-card-description {
  margin: 0 auto;
  margin-bottom: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
}

.content-partition_switcher-card hr {
  width: 4rem;
  border-top-width: 0.1875rem;
  border-style: solid;
  opacity: 0.3;
}

.content-partition_switcher-card:hover {
  color: #C7B299;
}

.content-partition_switcher-card:hover svg {
  fill: #C7B299;
}

.content-partition_switcher-card:hover hr {
  opacity: 1;
}

.content-realization {
  background-color: #FBFAF8;
}

.content-realization-wrapper {
  padding-top: 6.5%;
}

.content-realization .content-text {
  width: 48.125rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.content-realization-image {
  width: 100%;
  display: block;
}

.content-purchase_now {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.content-purchase_now-wrapper {
  padding: 4% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-purchase_now-title {
  font-family: Raleway, sans-serif;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #fff;
}

.content-purchase_now-text_highlight {
  color: #C7B299;
}

.content-purchase_now-text {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #fff;
  opacity: 0.7;
}

.content-latest_projects .content-text {
  width: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.content-latest_projects-wrapper {
  padding: 6.5% 0 3%;
}

.content-latest_projects-links_wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-latest_projects-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid #EBEBEB;
  border-radius: 0.1875rem;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #8C8C8C;
}

.content-latest_projects-link:not(:last-child) {
  margin-right: 0.625rem;
}

.content-latest_projects-link:hover {
  background-color: #C7B299;
  color: #fff;
}

.content-latest_projects-link:active {
  -webkit-animation: pushing_link 0.1s linear;
          animation: pushing_link 0.1s linear;
}

.content-latest_projects-cards_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4%;
}

.content-latest_projects-card {
  width: 30%;
  margin-top: 6%;
}

.content-latest_projects-card-image {
  display: block;
  width: 100%;
}

.content-latest_projects-card-caption {
  background-color: #FBFAF8;
  padding: 1.5rem;
}

.content-latest_projects-card-title {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #C7B299;
  margin-bottom: 0.5rem;
}

.content-latest_projects-card-description {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #D1D1D1;
}

.content-latest_projects-card:hover .content-latest_projects-card-title {
  color: #fff;
}

.content-latest_projects-card:hover .content-latest_projects-card-description {
  color: #C7B299;
}

.content-latest_projects-card:hover .content-latest_projects-card-caption {
  background-color: #352F2D;
}

.content-latest_projects-card:hover .content-latest_projects-card-image {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.content-latest_projects .content-button_link {
  margin: 0 auto;
}

.content-video_presentation {
  background-image: url(../image/bg_video_presentation.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 705px;
  position: relative;
}

.content-video_presentation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-video_presentation-play_button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline-style: none;
  margin-bottom: 32px;
  position: relative;
}

.content-video_presentation-play_button svg {
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-video_presentation-play_button:hover svg {
  fill: #C7B299;
}

.content-video_presentation-play_button:active {
  -webkit-animation: pushing_button 0.1s linear;
          animation: pushing_button 0.1s linear;
}

.content-video_presentation .content-title {
  color: #fff;
}

.content-video_presentation .content-text {
  color: #fff;
  width: 35.625rem;
  margin-bottom: 1.125rem;
}

.content-mobile_devices-wrapper {
  background-image: url(../image/phone.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 80px;
}

.content-mobile_devices-inner {
  width: 42rem;
  margin-left: auto;
  padding: 110px 0 200px;
}

.content-mobile_devices .content-title {
  text-align: left;
}

.content-mobile_devices .content-text {
  text-align: left;
}

.content-mobile_devices-properties_list {
  padding-top: 50px;
}

.content-mobile_devices-properties_list-item {
  margin-bottom: 0.75rem;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #8C8C8C;
}

.content-mobile_devices-properties_list-item::before {
  content: " ";
  width: 22px;
  height: 22px;
  background-image: url(../image/01_op.svg);
  float: left;
  margin-right: 0.5rem;
  -webkit-transform: translatey(-0.125rem);
          transform: translatey(-0.125rem);
}

.content-counters {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.content-counters-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 36px 0;
}

.content-counters-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-counters-card:not(:last-child) {
  margin-right: 70px;
}

.content-counters-card svg {
  fill: #C7B299;
  margin-bottom: 4px;
}

.content-counters-card-value {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 3.75rem;
  color: #fff;
}

.content-counters-card-name {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #C7B299;
  margin-bottom: 0.75rem;
}

.content-counters-card hr {
  width: 25%;
}

.content-recent_posts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 32px;
}

.content-recent_posts .content-text {
  width: 110.625rem;
  margin-bottom: 2rem;
}

.content-recent_posts-cards_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-recent_posts-card {
  width: 370px;
  border: 1px solid #B3B3B3;
  margin-bottom: 54px;
  position: relative;
}

.content-recent_posts-card-calendar {
  position: absolute;
  left: 22px;
  top: 18px;
  text-align: center;
  width: 50px;
  z-index: 1;
}

.content-recent_posts-card-calendar-date {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 2.375rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.content-recent_posts-card-calendar-month {
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.3rem 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.content-recent_posts-card-image {
  width: 100%;
  display: block;
}

.content-recent_posts-card figcaption {
  padding: 32px 24px 24px;
}

.content-recent_posts-card-title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #555555;
  margin-bottom: 1.5rem;
}

.content-recent_posts-card-description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #555555;
  margin-bottom: 1.125rem;
}

.content-recent_posts-card-link {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #C7B299;
}

.content-recent_posts-card-link::after {
  content: "";
  border: 0.375rem solid transparent;
  border-left: 0.375rem solid #C7B299;
  display: inline-block;
  margin-left: 0.5rem;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.content-recent_posts-card:hover {
  background-color: #352F2D;
}

.content-recent_posts-card:hover .content-recent_posts-card-calendar-date {
  background-color: #C7B299;
}

.content-recent_posts-card:hover .content-recent_posts-card-calendar-month {
  background-color: #A48D71;
}

.content-recent_posts-card:hover .content-recent_posts-card-image {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.content-recent_posts-card:hover .content-recent_posts-card-title {
  color: #C7B299;
}

.content-recent_posts-card:hover .content-recent_posts-card-description {
  color: #fff;
}

.content-recent_posts-button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: relative;
  outline-style: none;
  border: none;
  background-color: transparent;
  margin: 0 8px;
}

.content-recent_posts-button svg {
  fill: #D1D1D1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-recent_posts-button:hover svg {
  fill: #C7B299;
}

.content-recent_posts-button:active {
  -webkit-animation: pushing_button 0.1s linear;
          animation: pushing_button 0.1s linear;
}

.content-partners {
  background-image: url(../image/bg_partners.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-partners-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 140px 0;
}

.content-partners-image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content-partners-image:not(:last-of-type) {
  margin-right: 75px;
}

.footer-content {
  background: #191919;
}

.footer-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0 100px;
}

.footer-content-wrapper > div {
  width: 20%;
}

.footer-content-title {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.footer-content-list_item:not(:last-of-type) {
  padding-bottom: 1rem;
  border-bottom: 2px solid #555555;
  margin-bottom: 0.75rem;
}

.footer-content-list_item-text {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #555555;
}

.footer-content-list_item-date {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #363636;
}

.footer-content-list_item:hover .footer-content-list_item-text {
  color: #C7B299;
}

.footer-content-list_item:hover .footer-content-list_item-date {
  color: #fff;
}

.footer-content-about_us-logo {
  fill: #fff;
  margin-bottom: 18px;
}

.footer-content-about_us-text {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #555555;
  margin-bottom: 1.125rem;
}

.footer-content-about_us-link {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #D1D1D1;
  text-decoration: none;
}

.footer-content-about_us-link::after {
  content: "";
  display: inline-block;
  border: 0.375rem solid transparent;
  border-left: 0.375rem solid #fff;
  margin-left: 0.375rem;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.footer-content-recent_posts .footer-content-list_item-date {
  margin-bottom: 0.375rem;
}

.footer-content-twitter .footer-content-list_item-text {
  margin-bottom: 0.375rem;
}

.footer-content-twitter-highlight {
  color: #00BFF3;
}

.footer-content-dribbble_widget-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content-dribbble_widget-image {
  width: 49%;
  margin-bottom: 2%;
}

.footer-copyright {
  padding: 40px 0;
  background: #101010;
}

.footer-copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright-copyright_text {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #555555;
  margin-right: 12px;
}

.footer-copyright-link_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copyright-link_list-item {
  border-left: 2px solid #202020;
  padding: 0 12px;
}

.footer-copyright-link_list-item-link {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #555555;
  text-decoration: none;
}

.footer-copyright-link_list-item-link:hover {
  color: #BAA78F;
}
/*# sourceMappingURL=style.css.map */