$COLOR_PRIMARY: #998575;
$COLOR_SECONDARY: #fff;
$COLOR_HOVER: #C7B299;
$COLOR_CONTENT: #555555;


.container{
    width: 1280px;
    margin: 0 auto;
}


.main_header{
    padding: 40px 0 50px;
    background-image: url(../image/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;    

    &-navigator{
        display: flex;

        &-logolink{
           

            svg{
                fill: $COLOR_SECONDARY;
            }
        }

        &-link_list{
            display: flex;
            padding-top: 15px;
            margin-left: auto;
            margin-right: 55px;

            &-item a{
                font-family: Montserrat;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: $COLOR_SECONDARY;
                text-decoration: none;
                margin-right: 24px;
            }

            &-item:last-child a{
                margin-right: 0px;
            }

            &-item a:hover{
                color: $COLOR_HOVER;
            }
        }

        &-service_list{
            display: flex;
            padding-top: 10px;

            &-item a{
                margin-right: 30px;

                svg{
                    fill: $COLOR_SECONDARY;
                }                
            }

            &-item:last-child a{
                margin-right: 0px;
            }

            &-item a:hover{                

                svg{
                    fill: $COLOR_HOVER;
                }
            }
        }
    }

    &-slider{
        width: 1600px;
        margin: 0 auto;
        padding-top: 310px;
        display: flex;
        justify-content: space-between;
        color: $COLOR_SECONDARY;
        text-align: center;

        &-pretitle{
            font-family: Raleway;
            font-weight: 500;
            font-size: 36px;
            line-height: 42px;
        }

        &-title{
            font-family: Raleway;
            font-weight: 600;
            font-size: 52px;
            line-height: 61px;
        }

        &-text{
            font-family: Montserrat;
            font-size: 16px;
            line-height: 20px;
            max-width: 560px;
            margin-bottom: 40px;
        }

        &-link{
            display: block;
            color: $COLOR_SECONDARY;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $COLOR_PRIMARY;
            border-radius: 3px;
            padding: 20px 40px;
            width: fit-content;
            margin: 0 auto 300px;
        }

        &-link:hover{
            background-color: $COLOR_HOVER;
        }

        &-button{
            height: fit-content;
            background-color: transparent;
            outline: none;
            border:1px solid transparent;
            padding-top: 35px;
            
            svg{
                fill: $COLOR_SECONDARY;
            }
        }

        &-button:active{            
            opacity: 0.5;
        }

        &-progressbar{
            align-self: flex-end;
            margin: 0 auto;
        }
    }
}

.content{

    &-partition_switcher{
        
        .container{
            display: flex;
            padding: 85px 0 90px;
            justify-content: space-around;
        }

        &-card{
            color: $COLOR_CONTENT;
            text-align: center;
            width: 300px;

            svg{
                fill: $COLOR_CONTENT;
            }

            &-title{
                margin: 0 auto;                
                width: 270px;
                padding-top: 30px;
            }

            &-description{
                margin: 0 auto;
                width: 270px;
                padding-top: 20px;
                margin-bottom: 30px;
            }

            hr{                
                width: 70px;
                border-top-width: 3px;
                border-style: solid;
            }
        }

        &-card:hover{
            color: $COLOR_HOVER;

            svg{
                fill: $COLOR_HOVER;
            }
        }
    }
}