.container {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_header {
  background-image: url(../image/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_header .container {
  width: 1600px;
  padding: 40px 0 50px;
}

.main_header-navigator {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_header-navigator-logolink svg {
  fill: #fff;
}

.main_header-navigator-logolink:hover svg {
  fill: #C7B299;
}

.main_header-navigator-link_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  margin-left: auto;
  margin-right: 55px;
}

.main_header-navigator-link_list-item a {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  margin-right: 24px;
}

.main_header-navigator-link_list-item:last-child a {
  margin-right: 0px;
}

.main_header-navigator-link_list-item a:hover {
  color: #C7B299;
}

.main_header-navigator-service_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.main_header-navigator-service_list-item a {
  margin-right: 30px;
}

.main_header-navigator-service_list-item a svg {
  fill: #fff;
}

.main_header-navigator-service_list-item:last-child a {
  margin-right: 0px;
}

.main_header-navigator-service_list-item a:hover svg {
  fill: #C7B299;
}

.main_header-slider {
  width: 1600px;
  margin: 0 auto;
  padding-top: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  text-align: center;
}

.main_header-slider-pretitle {
  font-family: Raleway;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.main_header-slider-title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 52px;
  line-height: 61px;
}

.main_header-slider-text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  max-width: 560px;
  margin-bottom: 40px;
}

.main_header-slider-link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #998575;
  border-radius: 3px;
  padding: 20px 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 310px;
}

.main_header-slider-link:hover {
  background-color: #C7B299;
}

.main_header-slider-button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  padding-top: 35px;
}

.main_header-slider-button svg {
  fill: #fff;
}

.main_header-slider-button:active {
  opacity: 0.5;
}

.main_header-slider-progressbar {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 auto;
}

.content-title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #555555;
  margin-bottom: 20px;
}

.content-text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #8C8C8C;
}

.content-button_link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #998575;
  border-radius: 3px;
  padding: 20px 40px;
}

.content-button_link:hover {
  background-color: #C7B299;
}

.content-partition_switcher .container {
  padding-bottom: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-partition_switcher-card {
  color: #555555;
  text-align: center;
  width: 300px;
}

.content-partition_switcher-card svg {
  fill: #555555;
}

.content-partition_switcher-card-title {
  margin: 0 auto;
  width: 270px;
  padding-top: 30px;
  font-family: Raleway;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.content-partition_switcher-card-description {
  margin: 0 auto;
  width: 270px;
  padding-top: 20px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.content-partition_switcher-card hr {
  width: 70px;
  border-top-width: 3px;
  border-style: solid;
  opacity: 0.3;
}

.content-partition_switcher-card:hover {
  color: #C7B299;
}

.content-partition_switcher-card:hover svg {
  fill: #C7B299;
}

.content-partition_switcher-card:hover hr {
  opacity: 1;
}

.content-realization {
  background-color: #FBFAF8;
}

.content-realization .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-realization .content-text {
  width: 770px;
  margin: 0 auto;
}

.content-realization-image {
  padding-top: 40px;
}

.content-purchase_now {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.content-purchase_now .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 0;
}

.content-purchase_now-title {
  font-family: Raleway;
  font-size: 28px;
  line-height: 33px;
  color: #fff;
}

.content-purchase_now-title-company_name {
  color: #C7B299;
}

.content-purchase_now-text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */