$COLOR_PRIMARY: #998575;
$COLOR_SECONDARY: #fff;
$COLOR_HOVER: #C7B299;
$COLOR_CONTENT: #555555;
$COLOR_TEXT: #8C8C8C;
$ANIMATE_PUSH_LINKBUTTON: pushing_link 0.1s linear;
$ANIMATE_PUSH_BUTTON: pushing_button 0.1s linear;


.container{
    width: 1200px;
    margin: 0 auto;
}

.main_header{    
    background-image: url(../image/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    padding-top: 2%;

    &-navigator{
        display: flex;
        margin-bottom: 25%;
        align-items: center;

        &-logolink{           

            svg{
                fill: $COLOR_SECONDARY;
            }

            &:hover{

                svg{
                    fill: $COLOR_HOVER;
                }
            }
        }

        &-link_list{
            display: flex;
            margin-left: auto;
            margin-right: 3.125rem;

            &-item {
                
                &:not(:last-of-type){
                    margin-right: 1.5rem;
                }

                a{
                    font-family: Montserrat, sans-serif;
                    font-weight: 300;
                    font-size: 0.875rem;
                    line-height: 1.05rem;
                    color: $COLOR_SECONDARY;
                    text-decoration: none;
                }

                &:hover a{
                        color: $COLOR_HOVER;
                }
            }            
        }

        &-service_list{
            display: flex;

            &-item {
                
                &:not(:last-of-type){
                    margin-right: 2rem;
                }

                a svg{
                    fill: $COLOR_SECONDARY;
                }
            }

            &-item:hover a{                

                svg{
                    fill: $COLOR_HOVER;
                }
            }
        }
    }

    &-slider{
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        color: $COLOR_SECONDARY;
        text-align: center;
        // position: relative;

        &-pretitle{
            font-family: Raleway, sans-serif;
            font-weight: 500;
            font-size: 2.25rem;
            line-height: 2.625rem;
        }

        &-title{
            font-family: Raleway, sans-serif;
            font-weight: 600;
            font-size: 3.25rem;
            line-height: 3.875rem;
            margin-bottom: 0.5rem;
        }

        &-text{
            font-family: Montserrat, sans-serif;
            font-size: 1rem;
            line-height: 1.25rem;
            max-width: 35rem;
            margin: 0 auto 2.5rem;
        }

        &-link{
            display: block;
            color: $COLOR_SECONDARY;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $COLOR_PRIMARY;
            border-radius: 0.1875rem;
            padding: 1.25rem 2.5rem;
            width: fit-content;
            margin: 0 auto;            
            font-family: Roboto, sans-serif;
            font-size: 0.875rem;
            line-height: 1rem;

            &:hover{
                background-color: $COLOR_HOVER;
            }

            &:active{
                animation: $ANIMATE_PUSH_LINKBUTTON;
            }
        }


        &-button{
            height: fit-content;
            background-color: transparent;
            outline: none;
            border:1px solid transparent;
            padding-top: 35px;
            
            svg{
                fill: $COLOR_SECONDARY;
            }

            &:active{            
                opacity: 0.5;            
                animation: $ANIMATE_PUSH_BUTTON;
            }
        }

        &-switcher{
            position: absolute;
            top: 92vh;
            left: 50%;
            transform: translate(-50%);

            &-button{
                width: 12px;
                height: 12px;
                border: 1px solid transparent;
                border-radius: 50%;                
                background-color: rgba(255, 255, 255, 0.5);
                outline-style: none;

                &:not(:last-of-type){
                    margin-right: 10px;;
                }

                &:hover{
                    border-color: rgba(255, 255, 255, 0.5);
                    transform: scale(1.5);
                    background-color: transparent;
                }
            }

        }
    }
}

.content{

    &-title{
        font-family: Raleway, sans-serif;
        font-weight: 600;
        font-size: 1.875rem;
        line-height: 2.1875rem;
        text-align: center;
        color: $COLOR_CONTENT;
        margin-bottom: 1.25rem;
    }

    &-text{
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        color: $COLOR_TEXT;
    }

    &-button_link{
        display: block;
        color: $COLOR_SECONDARY;
        background-color: $COLOR_PRIMARY;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 1.25rem 2.5rem;
        font-family: Roboto, sans-serif;
        font-size: 0.875rem;
        line-height: 1rem;
        width: fit-content;
    }

    &-button_link:hover{
        background-color: $COLOR_HOVER;
    }

    &-button_link:active{
        animation: $ANIMATE_PUSH_LINKBUTTON;
    }

    ////////////////
    // Main Sections
    ////////////////
    &-partition_switcher{
        
        &-wrapper{
            padding: 6.5% 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-card{
            color: $COLOR_CONTENT;
            text-align: center;
            width: 23%;

            svg{
                fill: $COLOR_CONTENT;
                height: 47px;
                margin-bottom: 2rem;
            }

            &-title{
                margin: 0 auto;
                font-family: Raleway, sans-serif;
                font-weight: 600;
                font-size: 1.375rem;
                line-height: 1.625rem;
                margin-bottom: 1.25rem;
            }

            &-description{
                margin: 0 auto;
                margin-bottom: 2rem;
                font-family: Montserrat, sans-serif;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1rem;
                text-align: center;
            }

            hr{                
                width: 4rem;
                border-top-width: 0.1875rem;
                border-style: solid;
                opacity: 0.3;
            }

            &:hover{
                color: $COLOR_HOVER;            
    
                svg{
                    fill: $COLOR_HOVER;                
                }
    
                hr{
                    opacity: 1;
                }
            }
        }

    }

    &-realization{
        background-color:  #FBFAF8;

        &-wrapper{
            padding-top: 6.5%;
        }

        .content-text{
            width: 48.125rem;
            margin: 0 auto;
            margin-bottom: 2.5rem;
        }

        &-image{
            width: 100%;
            display: block;
        }
    }

    &-purchase_now{
        background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);        

         &-wrapper{
            padding: 4% 0;
             display: flex;
             justify-content: space-between;
         }

        &-title{
            font-family: Raleway, sans-serif;
            font-size: 1.75rem;
            line-height: 2rem;
            color: $COLOR_SECONDARY;            
        }

        &-text_highlight{
            color: $COLOR_HOVER;
        }

        &-text{
            font-family: Montserrat, sans-serif;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.375rem;
            color:$COLOR_SECONDARY;
            opacity: 0.7;            
        }
    }

    &-latest_projects{

        .content-text{
            width: 50rem;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        &-wrapper{            
            padding: 6.5% 0 3%;
        }

        &-links_wrapper{
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }

        &-link{
            padding: 0.5rem 1rem;
            text-decoration: none;
            border: 1px solid #EBEBEB;
            border-radius: 0.1875rem;
            font-family: Montserrat, sans-serif;
            font-weight: 300;
            font-size: 0.875rem;
            color: $COLOR_TEXT;

            &:not(:last-child){
                margin-right: 0.625rem;
            }
    
            &:hover{
                background-color: $COLOR_HOVER;
                color: $COLOR_SECONDARY;
            }
    
            &:active{
                animation: $ANIMATE_PUSH_LINKBUTTON;
            }
        }        

        &-cards_wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 4%;
        }        

        &-card{
            width: 30%;
            margin-top: 6%;
            
            &-image{
                display: block;
                width: 100%;
            }

            &-caption{
                background-color: #FBFAF8;
                padding: 1.5rem;
            }

            &-title{
                display: block;
                font-family: Raleway, sans-serif;
                font-weight: 500;
                font-size: 1.25rem;
                line-height: 1.5rem;     
                color: $COLOR_HOVER;
                margin-bottom: 0.5rem;
            }

            &-description{
                display: block;
                font-family: Montserrat, sans-serif;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1rem;
                color: #D1D1D1;
            }

            &:hover{
    
                .content-latest_projects-card-title{
                    color: $COLOR_SECONDARY;
                }
    
                .content-latest_projects-card-description{
                    color: $COLOR_HOVER;
                }
    
                .content-latest_projects-card-caption{
                    background-color: #352F2D;
                }
    
                .content-latest_projects-card-image{
                    filter: brightness(50%);
                }
            }
        }

        .content-button_link{            
            margin: 0 auto;
        }
    }

    &-video_presentation{
        background-image: url(../image/bg_video_presentation.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 705px;
        position: relative;

        &-wrapper{            
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-play_button{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);            
            border: none;
            outline-style: none;
            margin-bottom: 32px;
            position: relative;

            svg{
                fill: $COLOR_SECONDARY;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover{
    
                svg{
                    fill: $COLOR_HOVER;
                }
            }
    
            &:active {
                animation: $ANIMATE_PUSH_BUTTON;            
            }
        }

        .content-title{
            color: $COLOR_SECONDARY;
        }

        .content-text{
            color: $COLOR_SECONDARY;
            width: 35.625rem;
            margin-bottom: 1.125rem;
        }
    }

    &-mobile_devices{

        &-wrapper{
            background-image: url(../image/phone.png);
            background-position: left bottom;
            background-repeat: no-repeat;
            padding-top: 80px;
        }

        &-inner{
            width: 42rem;
            margin-left: auto;
            padding: 110px 0 200px;
        }

        .content-title{
            text-align: left;
        }

        .content-text{
            text-align: left;
        }

        &-properties_list{
            padding-top: 50px;

            &-item{
                margin-bottom: 0.75rem;
                font-family: Montserrat, sans-serif;
                font-weight: 300;
                font-size: 1rem;
                line-height: 1.25rem;
                color: $COLOR_TEXT;
                
                &::before{
                    content: " ";
                    width: 22px;
                    height: 22px;
                    background-image: url(../image/01_op.svg);
                    float: left;
                    margin-right: 0.5rem;
                    transform: translatey(-0.125rem);
                }
            }
        }
    }

    &-counters{
        background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);

        &-wrapper{
            display: flex;
            justify-content: center;
            padding: 36px 0;
        }

        &-card{
            display: flex;
            flex-direction: column;
            width: 10%;
            align-items: center;

            &:not(:last-child){
                margin-right: 70px;
            }

            svg{
                fill: $COLOR_HOVER;
                margin-bottom: 4px;
            }

            &-value{
                font-family: Montserrat, sans-serif;
                font-weight: 300;
                font-size: 3rem;
                line-height: 3.75rem;
                color: $COLOR_SECONDARY;  
            }

            &-name{
                font-family: Montserrat;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1rem;
                color: $COLOR_HOVER;
                margin-bottom: 0.75rem;
            }

            hr{
                width: 25%;
            }
        }
    }

    &-recent_posts{
        
        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 0 32px;
        }

        .content-text{
            width: 110.625rem;
            margin-bottom: 2rem;
        }

        &-cards_wrapper{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        &-card{
            width: 370px;
            border: 1px solid #B3B3B3;
            margin-bottom: 54px;
            position: relative;

            &-calendar{
                position: absolute;
                left: 22px;
                top: 18px;
                text-align: center;
                width: 50px;
                $CALENDAR_BORDER_RADIUS: 4px;
                z-index: 1;

                &-date{
                    font-family: Montserrat, sans-serif;
                    font-weight: 300;
                    font-size: 1.875rem;
                    line-height: 2.375rem;
                    color: $COLOR_SECONDARY;
                    background-color: rgba(0, 0, 0, 0.5);                    
                    border-top-left-radius: $CALENDAR_BORDER_RADIUS;
                    border-top-right-radius: $CALENDAR_BORDER_RADIUS;
                }

                &-month{
                    font-family: Roboto, sans-serif;
                    font-size: 0.75rem;
                    line-height: 0.875rem;
                    color: $COLOR_SECONDARY;                    
                    background-color: rgba(0, 0, 0, 0.7);
                    padding: 0.3rem 0;
                    border-bottom-left-radius: $CALENDAR_BORDER_RADIUS;
                    border-bottom-right-radius: $CALENDAR_BORDER_RADIUS;
                }
            }
            
            &-image{
                width: 100%;
                display: block;
            }

            figcaption{
                padding: 32px 24px 24px;
            }

            &-title{
                font-family: Raleway;
                font-weight: 500;
                font-size: 1.25rem;
                line-height: 1.5rem;
                color: $COLOR_CONTENT;
                margin-bottom: 1.5rem;
            }

            &-description{                
                font-family: Montserrat;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1.5rem;
                color: $COLOR_CONTENT;
                margin-bottom: 1.125rem;
            }

            &-link{
                font-family: Montserrat;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                text-decoration: none;
                color: $COLOR_HOVER;

                &::after{
                    content: "";
                    border: 0.375rem solid transparent;
                    border-left: 0.375rem solid $COLOR_HOVER;
                    display: inline-block;
                    margin-left: 0.5rem;
                    transform: translateY(2px);
                }
            }

            &:hover {            
                background-color: #352F2D;
    
                .content-recent_posts-card-calendar-date{
                    background-color: $COLOR_HOVER;
                }
    
                .content-recent_posts-card-calendar-month{
                    background-color: #A48D71;
                }
    
                .content-recent_posts-card-image{
                    filter: brightness(50%);
                }       
    
                .content-recent_posts-card-title{
                    color: $COLOR_HOVER;
                }
            
                .content-recent_posts-card-description{
                    color: $COLOR_SECONDARY;
                }
            }
        }

        &-button{
            width: 22px;
            height: 22px;
            border-radius: 50%;
            position: relative;
            outline-style: none;
            border: none;
            background-color: transparent;
            margin: 0 8px;

            svg{
                fill: #D1D1D1;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover svg{
                fill: $COLOR_HOVER;
            }
    
            &:active{
                animation: $ANIMATE_PUSH_BUTTON;
            }
        }
    }

    &-partners{
        background-image: url(../image/bg_partners.png);
        background-repeat: no-repeat;
        background-size: cover;

        &-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 140px 0;
        }

        &-image{
            width: fit-content;
            height: fit-content;            

            &:not(:last-of-type){
                margin-right: 75px;
            }
        }
    }
}

.footer{

    &-content{
        background: #191919;

        &-wrapper{            
            display: flex;
            justify-content: space-between;
            padding: 80px 0 100px;              
            
            & > div{
                width: 20%;
            }  
        }

        &-title{
            font-family: Raleway, sans-serif;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: $COLOR_SECONDARY;
            margin-bottom: 1.5rem;
        }

        &-list_item{
            
            &:not(:last-of-type){
                padding-bottom: 1rem;
                border-bottom: 2px solid $COLOR_CONTENT;
                margin-bottom: 0.75rem;
            }            

            &-text{
                font-family: Montserrat, sans-serif;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1rem;
                color:$COLOR_CONTENT;
            }
 
            &-date{
                font-family: Montserrat, sans-serif;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1rem;
                color: #363636;
            }
    
            &:hover{
    
                .footer-content-list_item-text{
                    color: $COLOR_HOVER;
                }
    
                .footer-content-list_item-date{
                    color: $COLOR_SECONDARY;
                }
            }
        }

        &-about_us{

            &-logo{
                fill: $COLOR_SECONDARY;
                margin-bottom: 18px;
            }
            
            &-text{
                font-family: Montserrat, sans-serif;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 1rem;
                color:$COLOR_CONTENT;
                margin-bottom: 1.125rem;
            }

            &-link{
                font-family: Montserrat, sans-serif;
                font-size: 0.875rem;
                line-height: 1rem;
                color: #D1D1D1;
                text-decoration: none;
    
                &::after{
                    content: "";
                    display: inline-block;
                    border: 0.375rem solid transparent;
                    border-left: 0.375rem solid $COLOR_SECONDARY;
                    margin-left: 0.375rem;
                    transform: translateY(2px);
                }
            }
        }

        &-recent_posts{

            .footer-content-list_item-date{
                margin-bottom: 0.375rem;
            }
        }

        &-twitter{

            .footer-content-list_item-text{
                margin-bottom: 0.375rem;
            }            

            &-highlight{
                color:  #00BFF3;;
            }
        }

        &-dribbble_widget{

            &-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &-image{
                width: 49%;
                margin-bottom: 2%;
            }
        }
    }

    &-copyright{        
        padding: 40px 0;
        background: #101010;    
        
        &-wrapper{
            display: flex;
        }

        &-copyright_text{
            font-family: Montserrat, sans-serif;
            font-weight: 300;
            font-size: 0.8125rem;
            line-height: 1rem;
            color:$COLOR_CONTENT;
            margin-right: 12px;
        }

        &-link_list{
            display: flex;

            &-item{
                border-left: 2px solid #202020;
                padding: 0 12px;

                &-link{         
                    font-family: Montserrat, sans-serif;
                    font-weight: 300;
                    font-size: 0.8125rem;
                    line-height: 1rem;
                    color:$COLOR_CONTENT;
                    text-decoration: none;

                    &:hover{
                        color: #BAA78F;
                    }
                }                
            }
        }
    }
}