$COLOR_PRIMARY: #998575;
$COLOR_SECONDARY: #fff;
$COLOR_HOVER: #C7B299;


.container{
    width: 1280px;
    margin: 0 auto;
}


.main-header{
    padding: 40px 0 50px;
    background-image: url(../image/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;    

    &_navigator{
        display: flex;

        &_logolink{
           

            svg{
                fill: $COLOR_SECONDARY;
            }
        }

        &_link-list{
            display: flex;
            padding-top: 15px;
            margin-left: auto;
            margin-right: 55px;

            &_item a{
                font-family: Montserrat;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: $COLOR_SECONDARY;
                text-decoration: none;
                margin-right: 24px;
            }

            &_item:last-child a{
                margin-right: 0px;
            }

            &_item a:hover{
                color: $COLOR_HOVER;
            }
        }

        &_service-list{
            display: flex;
            padding-top: 10px;

            &_item a{
                margin-right: 30px;

                svg{
                    fill: $COLOR_SECONDARY;
                }                
            }

            &_item:last-child a{
                margin-right: 0px;
            }

            &_item a:hover{                

                svg{
                    fill: $COLOR_HOVER;
                }
            }
        }
    }

    &_slider{
        width: 1600px;
        margin: 0 auto;
        padding-top: 310px;
        display: flex;
        justify-content: space-between;
        color: $COLOR_SECONDARY;
        text-align: center;

        &_pretitle{
            font-family: Raleway;
            font-weight: 500;
            font-size: 36px;
            line-height: 42px;
        }

        &_title{
            font-family: Raleway;
            font-weight: 600;
            font-size: 52px;
            line-height: 61px;
        }

        &_text{
            font-family: Montserrat;
            font-size: 16px;
            line-height: 20px;
            max-width: 560px;
            margin-bottom: 40px;
        }

        &_link{
            display: block;
            color: $COLOR_SECONDARY;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $COLOR_PRIMARY;
            border-radius: 3px;
            padding: 20px 40px;
            width: fit-content;
            margin: 0 auto 300px;
        }

        &_button{
            height: fit-content;
            background-color: transparent;
            outline: none;
            border:1px solid transparent;
            padding-top: 35px;
            
            svg{
                fill: $COLOR_SECONDARY;
            }
        }

        &_button:active{            
            opacity: 0.5;
        }

        &_progressbar{
            align-self: flex-end;
            margin: 0 auto;
        }
    }
}